h1{color: rgb(155, 15, 170);
border-radius: 0cqmin;
font-family: Georgia, 'Times New Roman', Times, serif;
border-radius: 0cqmin;
padding: 20px;
background-color: burlywood;}
p{font-weight: 300;
font-size: smaller;}
body{
    background-image: url(../assets/pngtree-faceted-abstract-background.jpg);
    background-size: cover;
}